
@*@{
    ViewBag.Title = "course";
    Layout = "~/Views/_ViewStart.cshtml";
}*@

<h4 style="text-align:center;color:grey;padding:10px;">Course</h4>
<form id="contact" action="course" method="post">
    <fieldset>
        <input name="course_name" type="text" class="form-control" id="course_name" placeholder="Course Name" required="">
    </fieldset><br />
    <fieldset>
        <button type="submit" id="form-submit" class="btn">Submit</button>
    </fieldset>
</form>

