
@*@{
    ViewBag.Title = "semester";
    Layout = "~/Views/_ViewStart.cshtml";
}*@

<h4 style="text-align:center;color:grey;padding:10px;">Semester</h4>
<form id="contact" action="" method="post">
    <fieldset>
        <input name="semester_name" type="text" class="form-control" id="semester_name" placeholder="Semester Name" required="">
    </fieldset><br />
    <fieldset>
        <button type="submit" id="form-submit" class="btn">Submit</button>
    </fieldset>
</form>
